.main-wrapper {
  margin-top: 65px;

  .swap-wrapper {
    .title {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 9px;
      line-height: 24px;
      color: white;
    }

    .setting-icon {
      color: #777088;
      cursor: pointer;
    }

    .swap-form {
      margin: 0;
      background: #202946;
      padding-top: 10px;
      border-radius: 24px;
      padding-bottom: 22px;
      padding-inline: 24px;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .token-box {
        position: relative;
        background: #111931;
        border-radius: 20px;
        padding: 5px 15px 3px;

        .token-select {
          width: auto;
          filter: brightness(0.8);
          padding: 5px 10px;
          position: relative;
          font-size: 20px;
          min-width: auto;
          box-shadow: none;
          font-family: Mukta;
          font-weight: 400;
          line-height: 24px;
          border-radius: 12px;
          text-transform: none;
          background-color: #3a466b;
          color: white;

          .token-icon {
            width: 20px;
            border-radius: 100%;
            margin-right: 5px;
          }

          &:hover {
            box-shadow: 0 0 15px #3a466b;
            background-color: #3a466b;
            filter: brightness(1);
          }
        }

        .input-box {
          input {
            padding-left: 10px;
            text-align: right;
            color: #ffffff;
            font-family: inherit;
            font-size: 28px;
          }

          @media (min-width: 600px) {
            flex: 1;
          }

          @media (max-width: 600px) {
            width: 100%;
          }
        }

        .balance-text {
          color: #a9b6bf;
          font-size: 14px;
        }
      }

      .change-order {
        position: absolute;
        top: 90px;
        z-index: 1;
        background-color: #202946;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          background-color: #111931;
          border-radius: 100%;
          padding: 3px;
          font-size: 30px;
          transition: 0.5s;
          color: white;
          cursor: pointer;

          &:hover {
            transform: rotate(180deg);
          }
        }

        @media (max-width: 600px) {
          top: 123px;
        }
      }

      .balance-error {
        color: #fd3917;
        font-size: 14px;
      }

      .swap-button {
        margin-bottom: 20px;
        border-radius: 10px;
        background: linear-gradient(
          180deg,
          rgba(100, 102, 236, 0.8) 0%,
          rgba(44, 66, 192, 0.8) 100%
        );
      }

      .unknown-price {
        color: #ffc700;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;

        svg {
          font-size: 14px;
          margin-left: 5px;
        }
      }

      .exchange-rate {
        margin-top: 5px;
        color: #a9b6bf;
        font-size: 14px;
        font-weight: bold;
      }

      .exchanges {
        color: #a9b6bf;
        h6 {
          font-size: 16px;
          font-weight: bold;
          display: inline-block;

          &::after {
            content: ' ';
            display: block;
            border-bottom: 2px solid #a9b6bf;
          }
        }

        table {
          width: 100%;
          font-size: 14px;

          th {
            text-align: left;
          }

          .dex-item {
            cursor: pointer;

            .dex-name {
              display: flex;
              align-items: center;
              padding: 3px;

              .dex-icon {
                width: 20px;
                margin-right: 5px;
              }
            }

            .badge {
              text-transform: uppercase;
              font-size: 12px;
              display: inline-block;
              text-transform: uppercase;
              text-align: center;
              min-width: 40px;
              padding: 4px 7px;

              &.best {
                color: #2f8af5;
                background-color: rgba(47, 138, 245, 0.16);
                border-radius: 24px;
              }
            }

            &:hover {
              background-color: rgba(45, 53, 76, 0.36);
            }
          }
        }
      }
    }
  }
}
