@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Mukta';
  background: radial-gradient(100% 316.05% at 0% 100%, #ef84f520 0%, rgba(239, 132, 245, 0) 100%),
    radial-gradient(100% 174.51% at 100% 0%, #2ee09a20 0%, rgba(46, 224, 154, 0) 100%);
  background-color: #010514;
  min-height: 100vh;
}

.blur-background {
  filter: blur(3px) brightness(0.8);
}

input {
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.MuiLoadingButton-loadingIndicator {
  color: rgb(255 254 254 / 75%) !important;
}
